<div class="container">
  <h1>It's a photoshoot!</h1>
  <p>
    Say'<span class="text">{{words.food}}</span>,' the photographer said as the camera flashed!
    <span class="text">{{words.person}}</span> and I had gone to <span clas="text">{{words.place}}</span> to get our photos taken today. The first photo we really wanted was a picture of us dressed as <span class="text">{{words.animals}}</span> pretending
    to be a <span class="text">{{words.prof}}</span>. When we saw the proofs of it, I was a bit
    <span class="text">{{words.feelings}}</span> because it looked different than in my head. (I hadn't imagined so many <span class="text">{{words.things}}</span> behind us.) However, the second photo was exactly what I wanted. We both looked like
    <span class="text">{{words.things2}}</span> wearing <span class="text">{{words.clothing}}</span> and <span class="text">{{words.verb}}</span> exactly what I had in mind!
  </p>
</div>
